* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/hero-bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 100;
    height: 70px;
    -webkit-transition: .4s linear;
    transition: .4s linear;
}

.hero-nav.invisible{
    top: -20%;
}

.hero-nav.color {
    background-color: #010101;
}

.hero-nav .logo {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    color: #fff;
    margin-left: 10px;
}

.logo span {
    font-size: 20px;
    text-shadow: 2px 2px #000;
}

.hero-nav ul {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
}

.hero-nav ul>li {
    position: relative;
    overflow: hidden;
    padding: 5px 20px;
}


.nav-item a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px #000;
}

.nav-item a::before {
    position: absolute;
    bottom: 0;
    left: -100%;
    height: 3px;
    width: 100%;
    content: '';
    background-color: #43A500;
    -webkit-transition: .3s;
    transition: .3s;
}

.nav-item a:hover::before {
    left: 0;
}

.hero-slogan-wrapper {
    -ms-flex-preferred-size: 85%;
        flex-basis: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.hero-slogan-wrapper h1,
.hero-slogan-wrapper p {
    position: -webkit-sticky;
    position: sticky;
    top: 40vh;
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 2px #000;
    letter-spacing: 7px;
}

.hero-slogan-wrapper p {
    position: -webkit-sticky;
    position: sticky;
    top: 50vh;
    padding: 40px 0 0 0;
    font-size: 30px;
}

.hero-icons-wrapper {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
    border: none;
    cursor: pointer;
 }

.hero-icons-wrapper i:first-child {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    font-size: 20px;
    color: #fff; 
    -webkit-animation: hero-pointer 2s linear alternate infinite; 
            animation: hero-pointer 2s linear alternate infinite;  
}

.hero-icons-wrapper i:last-child {
    padding-top: 10px;
    font-size: 25px;
    color: #fff;
    margin: 0 auto;
    -webkit-animation: hero-arrow 2s linear alternate infinite;
            animation: hero-arrow 2s linear alternate infinite; 
}
/* main */

main section.my-stack .devices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 160vh;
}


.devices .desktop-wrapper, .devices .mobile-wrapper {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.desktop-wrapper div, .mobile-wrapper div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .5s linear;
    transition: .5s linear;
}
.desktop-wrapper .desktop-img-wrapper {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
}
.desktop-wrapper .desktop-img-wrapper.animated {
    -webkit-transform: skewY(-15deg) translateY(50px);
            transform: skewY(-15deg) translateY(50px);
}

.desktop-wrapper div.desktop-img-wrapper {
    height: 450px;
}

.desktop-wrapper div.desktop-img-wrapper img {
    height: 90%;
    width: 90%;
}

.mobile-img-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.mobile-img-wrapper img {
    height: 70%;
    width: 50%;
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    -webkit-transition: .5s linear;
    transition: .5s linear;
}
.mobile-img-wrapper img.animated {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.mobile-img-wrapper .iphone-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 50%;
    z-index: -1;
    -webkit-transform: skew(0, 0) translate(190px, 240px);
            transform: skew(0, 0) translate(190px, 240px);
}

.mobile-img-wrapper .iphone-left.animated {
    -webkit-transform: skew(0deg, 24deg) translate(70px, 20px);
            transform: skew(0deg, 24deg) translate(70px, 20px);
}

.desktop-wrapper p,
.mobile-wrapper p {
    font-size: 18px;
    padding: 30px;
    text-align: justify;
    -webkit-box-shadow: 1px 1px 1px #000;
            box-shadow: 1px 1px 1px #000;
    margin: 0 30px 30px;
    -webkit-transition: .4s;
    transition: .4s;
}
.desktop-wrapper p:hover,
.mobile-wrapper p:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-box-shadow: 1px 10px 20px #000;
            box-shadow: 1px 10px 20px #000;
}

main div.technologies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.technologies .tech-icon-wrapper {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 2px solid #43A500;
}

.technologies div.tech-icon-wrapper .h1-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    letter-spacing: 6px;
    background-color: #391F5B;
}

.tech-icon-wrapper div {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    height: 160px;
    padding: 20px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.tech-icon-wrapper div:not(.h1-wrapper) {
    -webkit-transform: scale(0);
            transform: scale(0);
}


.tech-icon-wrapper div:not(.h1-wrapper).animated {
    -webkit-animation: technologies .5s forwards;
            animation: technologies .5s forwards;
}

.tech-icon-wrapper div:nth-of-type(3):not(.h1-wrapper),
.tech-icon-wrapper div:nth-of-type(7):not(.h1-wrapper) {
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
}
.tech-icon-wrapper div:nth-of-type(4):not(.h1-wrapper),
.tech-icon-wrapper div:nth-of-type(8):not(.h1-wrapper) {
    -webkit-animation-delay: .7s;
            animation-delay: .7s;
}
.tech-icon-wrapper div:nth-of-type(5):not(.h1-wrapper),
.tech-icon-wrapper div:nth-of-type(9):not(.h1-wrapper) {
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
}


.tech-icon-wrapper div.bgc-active {
    background-color: #391F5B;
}

.tech-icon-wrapper div img {
    width: 80%;
    height: 80%;
}

.tech-mac-wrapper {
    position: relative;
    height: 100vh;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 2px solid #43A500;
}
.tech-mac-wrapper img {
    width: 80%;
    height: 70%;
    -webkit-transform: skewY(20deg) translateX(50px);
            transform: skewY(20deg) translateX(50px);
}


/* section portfolio */
section.portfolio {
    padding: 50px 0;
    text-align: center;
}
.portfolio h1 {
    font-size: 30px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    color: #fff;
    font-weight: bold;
    margin:0 10px 50px;
    padding: 20px 0;
    letter-spacing: 6px;
    background-color: #391F5B;
}

section.portfolio nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 95%;
    margin: 20px auto 0;
}

section.portfolio nav>* {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
}

section.portfolio figure {
    text-align: center;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px 20px 0 0; 
    border-bottom: 1px solid #391F5B;
}

.portfolio nav figure.selected {
    background-color: #eee;
    border: 1px solid #391F5B;
    border-bottom: none;
}

section.portfolio figure img {
    height: 70px;
    width: 50%;
}
section.portfolio figure:nth-of-type(2) img {
    width: 15%;
}
section.portfolio figure span i {
    color: #F0D91D;
    font-size: 30px;
}
section.portfolio figure:nth-of-type(2) span i {
    color: #391F5B;
}
section.portfolio figure:nth-of-type(3) span span {
    color: #764ABC;
    font-weight: bold;
}

section.portfolio aside .projects {
    display: none;
    border: 1px solid #391F5B;
    
}

section.portfolio aside .project-desc {
    background-color: #391F5B;
    width: 95%;
    margin: 0 auto;
    border: 1px solid #391F5B;
    border-top: none;
    padding: 30px;
    text-align: justify;
    display: none;
}

section.portfolio aside .project-desc p {
    font-size: 18px;
    color: #fff;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    -webkit-transition: .7s;
    transition: .7s;
}
section.portfolio aside .project-desc p.show {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

section.portfolio aside .projects.selected {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;   
    width: 95%;
    margin: 0 auto;
    padding: 40px 0;
    background-color: #eee;
    border-top: none;
}


section.portfolio aside .project-page {
    position: relative;
    background-color: #ddd;
    height: 300px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin: 20px;
    overflow: hidden;
}

section.portfolio aside .panel {
    position: absolute;
    left: 0;
    bottom: -40%;
    width: 100%;
    height: 30%;
    text-align: center;
    background-color: #391F5B;
    -webkit-transition: .5s;
    transition: .5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

section.portfolio .project-page:hover .panel {
    bottom: 0;
}

.portfolio aside .panel a,
.portfolio aside .panel i {
    color: #fff;
    font-size: 18px;
    padding: 0 5px;
    text-decoration: none;
}

.portfolio aside .panel a:hover {
    text-decoration: underline;
}

.portfolio aside .panel i {
    color: #43A500;
    font-size: 18px;
}

.panel i:nth-of-type(2) {
    margin-left: 15px;
}

.project-page img {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    -webkit-transition: .5s; 
    transition: .5s;
}
.project-page img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.portfolio aside .panel button {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
    padding: 3px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    color: #391F5B;
    background-color: #fff;
    border: 1px solid #391F5B;
    text-transform: capitalize;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}

.panel button:hover  {
    color: #fff;
    background-color: #391F5B;
    border: 1px solid #fff;
}

.panel button i {
    margin-left: 5px;
    color: #43A500;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-animation: button-arrow 1.5s linear alternate infinite;
            animation: button-arrow 1.5s linear alternate infinite;
}

/* section globe */

main section.globe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
}


.globe .globe-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    -webkit-box-shadow: 2px 2px 40px #ddd;
            box-shadow: 2px 2px 40px #ddd;
    -webkit-perspective: 200px;
            perspective: 200px;
}

.globe .globe-wrapper img {
    -webkit-animation: globe-rotate 70s linear infinite;
            animation: globe-rotate 70s linear infinite;
}

.globe .globe-wrapper h2 {
    position: absolute;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 35px;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    color: #391F5B;
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg) scale(0);
}
.globe-wrapper h2.show {
    -webkit-animation: globe-h2-show 1s linear forwards;
            animation: globe-h2-show 1s linear forwards;
}

.globe-wrapper h2.animated {
    -webkit-animation: h2move .7s linear forwards;
            animation: h2move .7s linear forwards;
}

.globe div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;  
    -webkit-box-pack: center;  
        -ms-flex-pack: center;  
            justify-content: center;
    height: 20%;
}

.globe div:last-child span {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: capitalize;
}

.globe div:last-child button,
.desktop-wrapper button,
.mobile-wrapper button {
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
    background-color: transparent;
    text-transform: capitalize;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}

.globe div:last-child button:hover,
.desktop-wrapper button:hover,
.mobile-wrapper button:hover  {
    color: #43A500;
}

.globe div:last-child button i,
.desktop-wrapper button i,
.mobile-wrapper button i {
    margin-left: 5px;
    color: rgb(67, 165, 0);
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-animation: button-arrow 1.5s linear alternate infinite;
            animation: button-arrow 1.5s linear alternate infinite;
}

.globe div:last-child button:hover i,
.desktop-wrapper button:hover i,
.mobile-wrapper button:hover i {
    color: black;
}

.desktop-wrapper button,
.mobile-wrapper button {
    width: 40%;
}


footer {
    position: relative;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    background-color: rgba(0,0,0, .8);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: center;
}

footer .footer-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    z-index: -1;
}

footer .footer-slogan-wrapper {
    margin: 2% 25px 30px 25px;
    width: 75%;
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    border-radius: 5px;
    font-size: 30px;
    text-transform: capitalize;
    padding: 20px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 6px;
    text-shadow: 2px 2px #000;
}

footer .contact-forms {
    position: relative;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

footer .footer-media-wrapper {
    position: absolute;
    left: 10%;
    top: 0;
    margin-bottom: 120px;
    padding-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
}

.footer-media-wrapper span,
.footer-media-wrapper span a {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 2px black;
    font-size: 25px;
    -webkit-transform: translate(700px);
            transform: translate(700px);
    -webkit-transition: .5s;
    transition: .5s;
}

.footer-media-wrapper span.move {
    -webkit-transform: translate(0);
            transform: translate(0)
}

.footer-media-wrapper div i {
    color: #fff;
    font-size: 40px;
}

.footer-media-wrapper span:hover {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
}

footer div.footer-media-wrapper div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: black;
    margin-right: 30px;
    -webkit-transition: .5s;
    transition: .5s;
}

.contact-forms .footer-media-wrapper:first-of-type div {
    background-color: #310083;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: scale(.8);
            transform: scale(.8);
}
.contact-forms .footer-media-wrapper:nth-of-type(2) div {
    background-color: #BE5242;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: scale(.8);
            transform: scale(.8);
}
.contact-forms .footer-media-wrapper:nth-of-type(3) div {
    background-color: #0077B5;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: scale(.8);
            transform: scale(.8);
}
.contact-forms .footer-media-wrapper:last-of-type div {
    background-color: #000;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: scale(.8);
            transform: scale(.8);
}
.contact-forms .footer-media-wrapper:first-of-type div:hover {
   background-color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 1px solid #310083;
}

.contact-forms .footer-media-wrapper:first-of-type div:hover i {
    color: #310083; 
}

.contact-forms .footer-media-wrapper:nth-of-type(2) div:hover {
    background-color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 1px solid #BE5242;
   
}
.contact-forms .footer-media-wrapper:nth-of-type(2) div:hover i {
    color: #BE5242;
}
.contact-forms .footer-media-wrapper:nth-of-type(3) div:hover {
    background-color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 1px solid #0077B5;
}
.contact-forms .footer-media-wrapper:nth-of-type(3) div:hover i {
    color: #0077B5;
}
.contact-forms .footer-media-wrapper:last-of-type div:hover {
    background-color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
    border: 1px solid #000;
}
.contact-forms .footer-media-wrapper:last-of-type div:hover i {
    color: #000;
}




@-webkit-keyframes globe-rotate {
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}




@keyframes globe-rotate {
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-webkit-keyframes button-arrow {
    to {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

@keyframes button-arrow {
    to {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

@-webkit-keyframes hero-pointer {
    to {
        -webkit-transform: rotate(-90deg) translateX(-10px);
                transform: rotate(-90deg) translateX(-10px);
    }
}

@keyframes hero-pointer {
    to {
        -webkit-transform: rotate(-90deg) translateX(-10px);
                transform: rotate(-90deg) translateX(-10px);
    }
}
@-webkit-keyframes hero-arrow {
    to {
      color: #43A500;  
    }
}
@keyframes hero-arrow {
    to {
      color: #43A500;  
    }
}

@-webkit-keyframes technologies {
    to {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes technologies {
    to {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@-webkit-keyframes h2move {
    50% {
        -webkit-transform: scale(1.4) rotateX(-20deg);
                transform: scale(1.4) rotateX(-20deg);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes h2move {
    0% {
        -webkit-transform: scale(1) rotateX(-20deg);
        transform: scale(1) rotateX(-20deg);
    }
    50% {
        -webkit-transform: scale(1.2) rotateX(-20deg);
                transform: scale(1.2) rotateX(-20deg);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@-webkit-keyframes globe-h2-show {
    49% {
        -webkit-transform: rotateX(-20deg) scale(1.4);
                transform: rotateX(-20deg) scale(1.4);
    }
    100% {
        -webkit-transform: rotateX(20deg) scale(1);
                transform: rotateX(20deg) scale(1);
    }
}

@keyframes globe-h2-show {
    49% {
        -webkit-transform: rotateX(-20deg) scale(1.4);
                transform: rotateX(-20deg) scale(1.4);
    }
    100% {
        -webkit-transform: rotateX(20deg) scale(1);
                transform: rotateX(20deg) scale(1);
    }
}

@media(max-width: 1024px) {

    .hero-nav {
        height: 40px;
    }
    
    .hero-nav.invisible{
        top: -20%;
    }
    
    .hero-nav .logo {
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    }
    
    .logo span {
        font-size: 11px;
    }
    
    .hero-nav ul {
       flex-grow: 1;
    }
    
    .hero-nav ul>li {
        padding: 5px;
    }
    
    .nav-item a {
        font-size: 10px;
    }
    
    .hero-slogan-wrapper {
        flex-basis: 80%;
    }
    .hero-slogan-wrapper h1,
    .hero-slogan-wrapper p {
        font-size: 25px;
        letter-spacing: 3px;
    }
    
    .hero-slogan-wrapper p {
        padding-top: 10px;
        font-size: 17px;
    }

/* main */

main section.my-stack .devices {
    height: 110vh;
}

.desktop-wrapper .desktop-img-wrapper.animated {
    -webkit-transform: skewY(-10deg) translateY(0);
            transform: skewY(-10deg) translateY(0);
}

.desktop-wrapper div.desktop-img-wrapper {
    flex-basis: 35%;
    height: 300px;
}
.desktop-wrapper div.desktop-img-wrapper img {
    height: 50%;
    width: 100%;
}

.desktop-wrapper div:first-of-type {
    margin: 0;
    flex-grow: 1;
}

/* .mobile-wrapper {
    flex-direction: column;
} */

.mobile-img-wrapper {
    flex-basis: 25%;
    position: relative;
    height: 100%;
    width: 100%;
}
.mobile-wrapper div:first-of-type {
    flex-basis: 80%;
}

.mobile-img-wrapper img {
    height: 45%;
    width: 90%;
    -webkit-transform: translate(30px, 60px);
            transform: translate(30px, 60px);
    -webkit-transition: .5s linear;
    transition: .5s linear;
}
.mobile-img-wrapper img.animated {
    -webkit-transform: translate(30px, 0);
            transform: translate(30px, 0);
}

.mobile-img-wrapper .iphone-left {
    height: 45%;
    width: 90%;
    -webkit-transform: skew(0, 0) translate(35px, 150px);
            transform: skew(0, 0) translate(35px, 150px);
}

.mobile-img-wrapper .iphone-left.animated {
    -webkit-transform: skew(0deg, 14deg) translate(-5px, 80px);
            transform: skew(0deg, 14deg) translate(-5px, 80px);
}

.desktop-wrapper p,
.mobile-wrapper p {
    font-size: 12px;
    padding: 5px;
    text-align: start;
}

.desktop-wrapper button,
.mobile-wrapper button {
    width: 85%;
    padding: 5px;
    font-size: 11px;
}

.desktop-wrapper button i,
.mobile-wrapper button i {
    font-size: 11px;
}

/* technologies */

.technologies {
    flex-direction: column;
}

.technologies .tech-icon-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    border-bottom: 0px solid #43A500;
}

.technologies div.tech-icon-wrapper .h1-wrapper {
    margin-left: 0;
    letter-spacing: 5px;
}
.technologies div.tech-icon-wrapper h1 {
    font-size: 18px;
    padding: 0px 30px;
}

.tech-icon-wrapper div {
    height: 70px;
    padding: 1px;
    margin-top: 10px;
}

.tech-icon-wrapper div img {
    width: 80%;
    height: 80%;
}

.tech-mac-wrapper {
    display: none;
}

/* section portfolio */
section.portfolio {
    padding: 30px 0;
}
.portfolio h1 {
    margin: 0;
    font-size: 20px;
}


section.portfolio figure img {
    height: 40px;
    width: 100%;
}
section.portfolio figure h3 {
    font-size: 11px;
}
section.portfolio figure span {
    font-size: 10px;
}
section.portfolio figure:nth-of-type(2) img {
    width: 30%;
}
section.portfolio figure span i {
    font-size: 15px;
}

section.portfolio aside .project-desc {
    padding: 10px;
}

section.portfolio aside .project-desc p {
    font-size: 13px;
}

section.portfolio aside .projects.selected { 
    width: 95%;
    padding: 0;
}


section.portfolio aside .project-page {
    height: 120px;
    flex-basis: 100%;
    margin: 10px;
}

section.portfolio aside .panel {
    height: 35%;
}
.portfolio aside .panel a,
.portfolio aside .panel i {
    font-size: 9px;
    padding: 0 2px;
}

.portfolio aside .panel i {
    font-size: 10px;
}

.panel i:nth-of-type(2) {
    margin-left: 0;
}

.portfolio aside .panel button {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    padding: 0px;
    font-size: 10px;
    letter-spacing: 0;
}

.panel button i {
    margin-left: 5px;
    color: #43A500;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-animation: button-arrow 1.5s linear alternate infinite;
            animation: button-arrow 1.5s linear alternate infinite;
}


/* section globe */
.globe {
    max-width: 100vw;
}
.globe .globe-wrapper {
    overflow: hidden;
    width: 300px;
    height: 300px;
    -webkit-perspective: 200px;
            perspective: 200px;
}

.globe .globe-wrapper img {
    width: 100%;
    height: 100%;
}

/* footer */

footer{
    height: 65vh;
    background-image: url('../assets/images/laptop.jpg');
    background-position: center;
    background-size: cover;
}

footer .footer-video {
    display: none;  
}

footer .footer-slogan-wrapper {
    margin: 20px;
    width: 100%;
    font-size: 8px;
    background-color: #391F5B;
}


footer .contact-forms {
    width: 80%;
}

footer .footer-media-wrapper {
    margin-bottom: 65px;
}

.footer-media-wrapper span,
.footer-media-wrapper span a {
    font-size: 11px;
}

.footer-media-wrapper div i {
    font-size: 20px;
}

.footer-media-wrapper span:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
}

footer div.footer-media-wrapper div {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

}

@media  (max-width: 1024px) and (orientation: landscape){
    .mobile-img-wrapper img {
        height: 60%;
        width: 60%;
    }
    
    .mobile-img-wrapper .iphone-left {
        height: 60%;
        width: 60%;
    }

    .mobile-img-wrapper .iphone-left {
        height: 60%;
        width: 60%;
        -webkit-transform: skew(0, 0) translate(95px, 150px);
                transform: skew(0, 0) translate(35px, 150px);
    }
    
    .mobile-img-wrapper .iphone-left.animated {
        -webkit-transform: skew(0deg, 14deg) translate(-5px, 80px);
                transform: skew(0deg, 14deg) translate(20px, 50px);
    }
    

    main section.my-stack .devices {
        height: 160vh;
    }
    section.portfolio aside .project-page {
        flex-basis: 40%;
    }
    footer {
        background-image: none;
        margin-top: 50px;
        height: 100vh;
    }
    video {
        display: block;
    }
    /* section globe */
.globe {
    max-width: 100vw;
    height: 100vh;
}

footer .footer-video {
    display: block;  
}

footer .footer-slogan-wrapper {
   font-size: 20px;
}

footer .footer-media-wrapper {
    margin-bottom: 75px;
}
.footer-media-wrapper span,
.footer-media-wrapper span a {
    font-size: 15px;
}
.footer-media-wrapper div i {
    font-size: 20px;
}

footer div.footer-media-wrapper div {
    width: 60px;
    height: 60px;
}
}