* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/freelancer.jpg');
    background-position: 40% center;
    background-size: cover;
    background-attachment: fixed;
}

.hero-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.hero-nav .logo {
    flex-basis: 20%;
    color: #fff;
}

.logo span {
    font-size: 20px;
}

.hero-nav ul {
    flex-basis: 70%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.hero-nav ul>li {
    position: relative;
    overflow: hidden;
    padding: 5px 20px;
}


.nav-item a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.nav-item a::before {
    position: absolute;
    bottom: 0;
    left: -100%;
    height: 3px;
    width: 100%;
    content: '';
    background-color: rgb(19, 214, 36);
    transition: .3s;
}

.nav-item a:hover::before {
    left: 0;
}

.hero-slogan-wrapper {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-slogan-wrapper h1 {
    font-size: 60px;
    color: #fff;
}

.hero-icons-wrapper {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    cursor: pointer;
 }

.hero-icons-wrapper i:first-child {
    transform: rotate(-90deg);
    font-size: 20px;
    color: #fff; 
    animation: hero-pointer 2s linear alternate infinite;  
}

.hero-icons-wrapper i:last-child {
    padding-top: 10px;
    font-size: 25px;
    color: #fff;
    margin: 0 auto;
    animation: hero-arrow 2s linear alternate infinite; 
}
/* main */

main section.my-stack .devices {
    display: flex;
    flex-direction: column;
    height: 150vh;
}


.devices .desktop-wrapper, .devices .mobile-wrapper {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-wrapper div, .mobile-wrapper div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.desktop-wrapper .desktop-img-wrapper {
    order: -1;
    transform: skewY(-15deg) translateY(50px);
}

.desktop-wrapper div.desktop-img-wrapper {
    height: 450px;
}

.desktop-wrapper div.desktop-img-wrapper img {
    height: 80%;
    width: 50%;
}

.mobile-img-wrapper {
    position: relative;
}

.mobile-img-wrapper .iphone-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skew(-3deg, 14deg) translate(180px, -60px);
}

.desktop-wrapper p,
.mobile-wrapper p {
    font-size: 18px;
    padding: 30px;
    text-align: justify;
    margin: 0 30px 30px;
    transition: .4s;
}
.desktop-wrapper p:hover,
.mobile-wrapper p:hover {
    transform: scale(1.03);
    box-shadow: 1px 10px 20px #000;
}

main div.technologies {
    display: flex;
}

.technologies .tech-icon-wrapper {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(19, 214, 36);
}

.technologies div.tech-icon-wrapper .h1-wrapper {
    flex-basis: 100%;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    letter-spacing: 6px;
    background-color: #391F5B;
}

.tech-icon-wrapper div {
    flex-basis: 25%;
    height: 160px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tech-icon-wrapper div:hover {
    background-color: #391F5B;
}

.tech-icon-wrapper div img {
    width: 80%;
    height: 80%;
}

.tech-mac-wrapper {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(19, 214, 36);
}
.tech-mac-wrapper img {
    width: 80%;
    height: 80%;
    transform: rotateY(220deg);
}

/* section portfolio */
section.portfolio {
    padding: 50px 0;
}

section.portfolio nav {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: stretch;
    width: 95%;
    margin: 20px auto 0;
}

section.portfolio nav>* {
    flex-basis: 35%;
}

section.portfolio figure {
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-radius: 20px 20px 0 0;
}

.portfolio nav figure.selected {
    background-color: #eee;
}

section.portfolio figure img {
    height: 60px;
    width: 40%;
}
section.portfolio figure:nth-of-type(2) img {
    width: 15%;
}
section.portfolio figure span i {
    color: #F0D91D;
    font-size: 30px;
}
section.portfolio figure:nth-of-type(2) span i {
    color: #391F5B;
}
section.portfolio figure:nth-of-type(3) span span {
    color: #764ABC;
    font-weight: bold;
}

section.portfolio aside .projects {
    display: none;
}

section.portfolio aside .projects.selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;   
    width: 95%;
    margin: 0 auto;
    background-color: #eee;
}


section.portfolio aside .project-page {
    position: relative;
    /* background-color: #fff; */
    height: 300px;
    flex-basis: 25%;
}

section.portfolio aside .panel {
    position: absolute;
    left: 0;
    bottom: 0%;
    width: 100%;
    height: 25%;
    text-align: center;
}


aside .panel a {
    font-size: 18px;
    color: red;
    padding: 10px;
} 

aside .panel button {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
    background-color: transparent;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    margin-top: 10px;
}



/* section globe */

main section.globe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
}

.globe .globe-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    box-shadow: 2px 2px 40px #ddd;
}

.globe .globe-wrapper img {
    animation: globe-rotate 70s linear infinite;
}

.globe .globe-wrapper h2 {
    position: absolute;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(19, 214, 36)
}

.globe div:last-child {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    height: 20%;
}

.globe div:last-child span {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    letter-spacing: 5px;
    text-transform: capitalize;
}

.globe div:last-child button,
.desktop-wrapper button,
.mobile-wrapper button {
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid black;
    background-color: transparent;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
}

.globe div:last-child button:hover,
.desktop-wrapper button:hover,
.mobile-wrapper button:hover  {
    color: rgb(19, 214, 36);
}

.globe div:last-child button i,
.desktop-wrapper button i,
.mobile-wrapper button i {
    margin-left: 5px;
    color: rgb(93, 200, 102);
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
    animation: button-arrow 1.5s linear alternate infinite;
}

.globe div:last-child button:hover i,
.desktop-wrapper button:hover i,
.mobile-wrapper button:hover i {
    color: black;
}

.desktop-wrapper button,
.mobile-wrapper button {
    width: 40%;
}

@keyframes globe-rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes button-arrow {
    to {
        transform: translateX(10px);
    }
}

@keyframes hero-pointer {
    to {
        transform: rotate(-90deg) translateX(-10px);
    }
}
@keyframes hero-arrow {
    to {
      color: rgb(19, 214, 36);  
    }
}